<div class="col-xs-8">
    <div class="input-group">
        <div class="input-group-btn search-panel">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    	<span id="search_concept">Filter by</span> <span class="caret"></span>
                    </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#contains">Name</a></li>
                <li><a href="#its_equal">Position</a></li>
                <li><a href="#greather_than">Level</a></li>
                <li><a href="#less_than">Status</a></li>
                <li class="divider"></li>
                <li><a href="#all">Anything</a></li>
            </ul>
        </div>
        <input type="hidden" name="search_param" value="all" id="search_param">
        <input type="text" class="form-control" name="x" placeholder="Search term...">
        <span class="input-group-btn">
                    <button class="btn btn-info" type="button"><span class="glyphicon glyphicon-search"></span>Search</button>
        </span>
    </div>
</div>
<div class="content table-responsive table-full-width" style="margin-right: 20px;">
    <table class="table">
        <thead>
            <tr>
                <th class="text-center">{{ tableData1.headerRow[0] }}</th>
                <th>{{ tableData1.headerRow[1] }}</th>
                <th>{{ tableData1.headerRow[2] }}</th>
                <th>{{ tableData1.headerRow[3] }}</th>
                <th class="text-right">{{ tableData1.headerRow[4] }}</th>
                <th class="text-right">{{ tableData1.headerRow[5] }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of tableData1.dataRows">
                <td class="text-center">{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td class="text-right">{{ row[4] }}</td>
                <td class="td-actions text-right">
                    <a rel="tooltip" title="View Profile" class="btn btn-info btn-simple btn-xs">
                        <i class="fa fa-user"></i>
                    </a>
                    <a rel="tooltip" title="Edit Profile" class="btn btn-success btn-simple btn-xs">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                        <i class="fa fa-times"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>